In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Dell\data.csv")

In [3]:
data

,name,description,G_id,Genre
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]","['Drama', 'Crime']"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","['Drama', 'Crime']"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","['Drama', 'Crime']"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","['Drama', 'History', 'War']"
4,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...","[16, 10751, 14]","['Animation', 'Family', 'Fantasy']"
...,...,...,...,...
9195,The Human Centipede 3 (Final Sequence),Taking inspiration from The Human Centipede fi...,"[27, 35]","['Horror', 'Comedy']"
9196,The Open House,A teenager and his mother find themselves besi...,"[27, 53]","['Horror', 'Thriller']"
9197,FearDotCom,When four bodies are discovered among the indu...,"[27, 53, 80]","['Horror', 'Thriller', 'Crime']"
9198,Les Dalton,Joe and Averell are the eldest and youngest of...,"[35, 37]","['Comedy', 'Western']"
9199,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,"[14, 878, 10751, 10770]","['Fantasy', 'Science Fiction', 'Family', 'TV M..."

# Text Preprocessing

Lower casing
removing html tags
removing url
removing punctuation
chat word treatment
correction spells 
removing stops words
handling emoji
Tokenization
stemming

In [4]:
#1 Lower casing
data['description']=data['description'].str.lower()

In [5]:
data['description']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       a young girl, chihiro, becomes trapped in a st...
                              ...
9195    taking inspiration from the human centipede fi...
9196    a teenager and his mother find themselves besi...
9197    when four bodies are discovered among the indu...
9198    joe and averell are the eldest and youngest of...
9199    luke skywalker and han solo battle evil imperi...
Name: description, Length: 9200, dtype: object

In [6]:
#2
data['description']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       a young girl, chihiro, becomes trapped in a st...
                              ...
9195    taking inspiration from the human centipede fi...
9196    a teenager and his mother find themselves besi...
9197    when four bodies are discovered among the indu...
9198    joe and averell are the eldest and youngest of...
9199    luke skywalker and han solo battle evil imperi...
Name: description, Length: 9200, dtype: object

In [7]:
#removing the html tag from the text data.
# re is used for regular expressions.
import re
def scripthtml(data):
    p=re.compile(r'<[^>]+>') # compile the substrings 
    return p.sub('',data) #Replace the subString with " ".

In [8]:
data['description']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       a young girl, chihiro, becomes trapped in a st...
                              ...
9195    taking inspiration from the human centipede fi...
9196    a teenager and his mother find themselves besi...
9197    when four bodies are discovered among the indu...
9198    joe and averell are the eldest and youngest of...
9199    luke skywalker and han solo battle evil imperi...
Name: description, Length: 9200, dtype: object

In [9]:
data['description']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       a young girl, chihiro, becomes trapped in a st...
                              ...
9195    taking inspiration from the human centipede fi...
9196    a teenager and his mother find themselves besi...
9197    when four bodies are discovered among the indu...
9198    joe and averell are the eldest and youngest of...
9199    luke skywalker and han solo battle evil imperi...
Name: description, Length: 9200, dtype: object

In [10]:
data['description'] = data['description'].astype(str)

In [11]:
data

,name,description,G_id,Genre
0,The Shawshank Redemption,framed in the 1940s for the double murder of h...,"[18, 80]","['Drama', 'Crime']"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","[18, 80]","['Drama', 'Crime']"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"[18, 80]","['Drama', 'Crime']"
3,Schindler's List,the true story of how businessman oskar schind...,"[18, 36, 10752]","['Drama', 'History', 'War']"
4,千と千尋の神隠し,"a young girl, chihiro, becomes trapped in a st...","[16, 10751, 14]","['Animation', 'Family', 'Fantasy']"
...,...,...,...,...
9195,The Human Centipede 3 (Final Sequence),taking inspiration from the human centipede fi...,"[27, 35]","['Horror', 'Comedy']"
9196,The Open House,a teenager and his mother find themselves besi...,"[27, 53]","['Horror', 'Thriller']"
9197,FearDotCom,when four bodies are discovered among the indu...,"[27, 53, 80]","['Horror', 'Thriller', 'Crime']"
9198,Les Dalton,joe and averell are the eldest and youngest of...,"[35, 37]","['Comedy', 'Western']"
9199,The Star Wars Holiday Special,luke skywalker and han solo battle evil imperi...,"[14, 878, 10751, 10770]","['Fantasy', 'Science Fiction', 'Family', 'TV M..."

In [12]:
data['description']=data['description'].apply(scripthtml)

In [13]:
data

,name,description,G_id,Genre
0,The Shawshank Redemption,framed in the 1940s for the double murder of h...,"[18, 80]","['Drama', 'Crime']"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","[18, 80]","['Drama', 'Crime']"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"[18, 80]","['Drama', 'Crime']"
3,Schindler's List,the true story of how businessman oskar schind...,"[18, 36, 10752]","['Drama', 'History', 'War']"
4,千と千尋の神隠し,"a young girl, chihiro, becomes trapped in a st...","[16, 10751, 14]","['Animation', 'Family', 'Fantasy']"
...,...,...,...,...
9195,The Human Centipede 3 (Final Sequence),taking inspiration from the human centipede fi...,"[27, 35]","['Horror', 'Comedy']"
9196,The Open House,a teenager and his mother find themselves besi...,"[27, 53]","['Horror', 'Thriller']"
9197,FearDotCom,when four bodies are discovered among the indu...,"[27, 53, 80]","['Horror', 'Thriller', 'Crime']"
9198,Les Dalton,joe and averell are the eldest and youngest of...,"[35, 37]","['Comedy', 'Western']"
9199,The Star Wars Holiday Special,luke skywalker and han solo battle evil imperi...,"[14, 878, 10751, 10770]","['Fantasy', 'Science Fiction', 'Family', 'TV M..."

In [14]:
# removing url

In [18]:
def removel_url(text):
    p=re.compile(r'https?://\S+|www\.S+')
    return p.sub(r'',text)

In [19]:
data['description']=data['description'].apply(removel_url)

In [21]:
data['description']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955, a chronicle o...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       a young girl, chihiro, becomes trapped in a st...
                              ...
9195    taking inspiration from the human centipede fi...
9196    a teenager and his mother find themselves besi...
9197    when four bodies are discovered among the indu...
9198    joe and averell are the eldest and youngest of...
9199    luke skywalker and han solo battle evil imperi...
Name: description, Length: 9200, dtype: object

In [26]:
#removing punctuation
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
exclude= string.punctuation

In [45]:
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

In [46]:
data['description']=data['description'].apply(remove_punc)

In [47]:
data['description']

0       framed in the 1940s for the double murder of h...
1       spanning the years 1945 to 1955 a chronicle of...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       a young girl chihiro becomes trapped in a stra...
                              ...
9195    taking inspiration from the human centipede fi...
9196    a teenager and his mother find themselves besi...
9197    when four bodies are discovered among the indu...
9198    joe and averell are the eldest and youngest of...
9199    luke skywalker and han solo battle evil imperi...
Name: description, Length: 9200, dtype: object

In [48]:
df="My name is umair, iam from cs&it department 6th semester datascience student.?"

In [49]:
remove_punc(df)

'My name is umair iam from csit department 6th semester datascience student'

In [ ]:
#chat word treatment

In [ ]:
#correction spells

In [ ]:
#removing stops words

In [ ]:
#handling emoji

In [ ]:
#stemming

In [ ]:
#stemming